:root {
  --mainSpacing:0.1rem;
  --mainTransition: all 0.8s linear;
  /* cermati color pallete */
  --mainBlue: #007BC1;
  --darkBlue: #004A75;
  --darkerBlue: #081036;
  --mainOrange: #FF8000;
  --darkOrange: #CC6600;
  --smokeGrey: #E5E5E5;
  /* color I added for font-color */
  --mainWhite: #FFFCFF;
  --mainBlack: #030504;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   }

body {
  color: var(--mainBlack);
  font-family: 'Roboto', sans-serif !important;
  background:var(--smokeGrey);
  width: 100%;
  height: 100%;
}

/* general | reusable */
button.close {
  outline: none;
}



/* notif */
.cermati-notif-panel {
  max-width: 720px;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
}

.cermati-notif-panel__p {
  text-align: center;
}

.cermati-notif-panel__btn {
  color: var(--mainWhite);
  background-color: var(--mainBlue);
  width: 6rem;
  height: 2rem;
  font-size: 0.7rem;
}
/* end of notif */

/* hero section */
.cermati-hero {
  width: 100%;
  min-height: calc(100vh - 49px );
  background: linear-gradient(rgba(0, 74, 117,0.7), rgba(0, 74, 117, 0.7)), url('../images/work-desk__dustin-lee.jpg') center/cover fixed no-repeat;
  color: var(--mainWhite);
}

.cermati-hero__logo {
  height: 10vh;
  left: 2rem;
  top: 7rem;
  position: absolute;
}

.cermati-hero__text {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -38%);
  padding: 10rem 0;

}

.cermati-hero__h2 {
  margin-bottom: 2rem;
  font-weight: bold;
}

.cermati-hero__p {
  margin-bottom: .5rem;
}

.cermati-hero__btn {
  background-color: Transparent;
  cursor: pointer;
  border: 2px solid var(--mainWhite);
  padding: 1rem;
  margin-top: 2rem;
  text-transform: uppercase;
  outline: none;
}

.cermati-hero__btn:hover {
  background-color: var(--mainWhite);
  color: var(--darkBlue) !important;
}
/* end of hero section */

/* hl Panel */
.cermati-hl-panel__header {
  text-align: center;
  margin: 2rem auto;
}
.cermati-hl-panel__h3 {
  text-transform: capitalize;
}

.cermati-hl-single-panel {
  border: 1px solid silver;
  padding: 1rem;
  margin: 1rem 1rem;
}

.cermati-hl-single-panel__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cermati-hl-single-panel__icon {
  font-size: 2rem;
  color: silver;
}

.cermati-hl-single-panel__detail {
  font-size: 1rem;
  font-weight: 200;
}

.cermati-footer {
  background: var(--darkerBlue);
  height: 2.5rem;
}

.cermati-footer__p {
  text-align: center;
  color: var(--mainWhite);
  margin: 0;
  padding-top: .5rem;
}
/* end of hl Panel */

/* newsletter panel */
.cermati-nl-panel {
  width: 640px;
  background: rgba(0, 123, 193, 0.8);
  color: var(--mainWhite);
  margin : .5rem;
  position: absolute;
  z-index: 2;
  transform: translateY(-10rem);
  top: 86.5rem;
  opacity: 0;
  transition: transform ease-in-out 800ms .5s;
}

.active {
  transform: translateX(10px);
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 2s, opacity 2s linear,  transform ease-out 2s;
  position: absolute;
}

.active > {

}

.cermati-nl-panel-btn__close {
  color: var(--mainWhite);
  padding: .5rem !important;
  outline: none;
}

.cermati-nl-container {
  padding: 1rem;
}

.cermati-nl-panel__h4 {
  font-weight: bold;
}

.cermati-nl-panel__p {
  font-size: .8rem;
}

.cermati-form-group {
  margin-bottom: 0;
  display:flex;
  flex-direction: row;
}

.cermati-form-group__btn {
  background: var(--mainOrange);
  color: var(--mainWhite);
  width: 14rem;
  margin-left: 1rem;
}
/* end of newsletter panel */

/* @media screen devices */

@media (max-width: 575.98px) {
  .cermati-notif-panel {
    display: block;
  }

  .cermati-hero__logo {
    height: 8vh;
    top: 11rem;
  }
  .cermati-hero__text {
    position: unset;
    transform: none;
  }

  .cermati-hero__h1 {
    font-size: 2rem;
    font-weight: lighter;
  }
  .cermati-hero__h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .cermati-hero__btn {
    margin-top: 1rem;
  }

  .cermati-footer__p {
    padding: .5rem .5rem;
    font-size: .7rem;
  }

  .cermati-nl-panel {
    width: 465px;
    top: 139.5rem !important;
  }

  .cermati-form-group {
    flex-direction: column;
  }

  .cermati-form-group__btn {
    display: block;
    width: auto;
    margin: .5rem 0 0 0;
  }
}

@media (min-width: 576px) and (max-width: 767.97px) {

}

@media (min-width: 767.98px) and (max-width: 991.97px) {
  .cermati-nl-panel {
    top: 106rem !important;
  }
}

@media (min-width: 991.98px) and (max-width: 1199.98px){
  .cermati-nl-panel {
    top:89.5rem !important;
  }
}

@media (min-width: 1599.98px) {
  .cermati-nl-panel {
    top: 77.5rem !important;
  }
}

@media (min-width: 1919.98px) {
  .cermati-nl-panel {
    top: 94.5rem !important;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transform : translateY(140px);
  transition: visibility 0s 2s, opacity 2s linear, transform 2s linear;
  overflow: hidden;
}

.hidden > div {
  margin-top: -1000px;
  transition: margin-top 0s 2s;
}
